* {
	margin: 0;
	padding: 0;
}

a,a:hover,a:link,a:visited {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: normal;
}

ul,li {
	margin: 0;
	padding: 0;
}

html,body {
	min-height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #fff;
}

img {
	border: none;
	display: block;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.isModule {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

body>.isBox {
	max-width: 939px;
	margin: 0 auto;
}

.baseBlock {
	max-width: 939px;
}

.baseBlock>.isCell {
	display: block;
}

/* Webkit bugfix */
body.repaint {
	display: run-in;
}

.navigation .r0cell2 a {
	background-position: -93px 0
}

.navigation .r0cell3 a {
	background-position: -183px 0;
}

.navigation .r0cell4 a {
	background-position: -273px 0;
}

.navigation .r0cell5 a {
	background-position: -369px 0;
}

<!-- 1st Level Menu { }-->
a.firstLevelMenu  {
	display: table-cell;
	padding:0px;
	margin:0;
    width: 77px;
}
.firstLevelMenu {
	float: left;
}
li.firstLevelMenu {
	float: left;
	width: 82px;
}
.rainer {
	display: table-cell;
	padding:0px;
	margin:0;
    float: left;
}
a.firstLevelMenuButton {
    width:77px;
}
a.firstLevelMenuButton.conference {
	background-position: 0px 0
}
a.firstLevelMenuButton.voting {
	background-position: -464px 0
}
a.firstLevelMenuButton.agenda {
	background-position: -92px 0
}
a.firstLevelMenuButton.archive  {
	background-position: -183px 0;
}
a.firstLevelMenuButton.contact  {
	background-position: -273px 0;
}
a.firstLevelMenuButton.register {
	background-position: -369px -1px;
}
a.firstLevelMenuButton.talks {
	background-position: -464px 0;
}
a.firstLevelMenuButton.whishes {
	background-position: -557px  0;
}

<!-- 1st Level Menu } -->

#currentConferenceListBox {
	display: none;
}

.currentConferenceList {
	float: left;
	margin-top: -43px;
}

.currentConferenceList ul {
	list-style: none;
}

.currentConferenceList li {
	float: left;
	margin-right: 15px;
}

.currentConferenceList a {
	color: #00437c;
}

.secondLevelBar {
	margin-right: 35px;
	margin-bottom: 3px;
}

.secondLevelMenu {
	float: right;
	padding-bottom: 0px;
}

.secondLevelMenu ul {
	list-style: none;
}

.secondLevelMenu li {
	float: left;
	margin-right: 15px;
}

.secondLevelMenu li:last-child {
	margin-right: 1px;
}

.secondLevelMenu a {
	color: #00437c;
}

.secondLevelLogin {
	float: right;
	padding-bottom: 0px;
}

.secondLevelLogin ul {
	list-style: none;
}

.secondLevelLogin li {
	float: left;
	margin-right: 15px;
}

.feedbackPanel li {
	float: none;
}

.secondLevelLogin a {
	color: #00437c;
}

.nicEdit-main ul li {
	list-style-type: circle;
	list-style-position: inside;
}

.nicEdit-main ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

.viewTalkDescription ul li {
	list-style-type: circle;
	list-style-position: inside;
}

.viewTalkDescription ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

.contentArea h3 {
	font-size: 150%;
	margin-bottom: 10px;
}

.readOnlyViewFooter {
	border-top: 1px dashed;
}

input,textarea,select {
	border: 1px solid #00437c;
	border-radius: 2px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #505053;
	padding: 1px 4px 1px 4px;
}

select {
	padding: 1px 1px 1px 4px;
}

input[type=submit] {
	background-color: #00437c;
	color: #fff;
	border: none;
	cursor: pointer;
}

.secondLevelMenu input,.secondLevelMenu textarea {
	width: 60px;
}

.toolbar  td {
	padding-top: 20px;
}

.toolbar a {
	background-color: #00437c;
	border: 1px solid #00437c;
	border-radius: 2px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 1px 4px 1px 4px;
}

/* ********** like panel {*/
.likePanel ul {
	display: block;
	text-align: justify;
}

.likePanel li {
	list-style-type: none;
	display: inline-block;
}
/* ********** like panel } */
.secondLevelMenu a:hover {
	text-decoration: underline;
}

/* ************ Tabs */
div.tabpanel div.tab-row li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

div.tabpanel div.tab-row a:link,div.tabpanel div.tab-row a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
	border-radius: 3px 3px 0px 0px;
}

div.tabpanel div.tab-row li.selected a:link,div.tabpanel div.tab-row a:visited.active
	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

div.tabpanel div.tab-row a:hover {
	background: #fff;
}

.tabContent {
	float: none;
	clear: both;
	display: block;
	border: 1px solid #ccc;
	border-radius: 0px 3px 3px 3px;
	margin-top: 20px;
	position: relative;
	top: -1px;
	padding: 5px;
}

/* ********* Feedback { */
ul.feedbackPanel {
	border: 1px solid red;
	padding: 2px;
}

.feedbackPanel li {
	list-style-position: inside;
}
/* ********* Feedback } */

/* ********** table { */
.tabelle thead {
	background-color: #00437c;
	border: 1px solid #00437c;
	color: #fff;
}

.tabelle tbody {
	border: 1px solid;
	border-color: #00437c;
	padding: 10px;
}

tr.odd {
	background-color: #EFEFFF;
}

.tabelle td,.tabelle th {
	padding: 2px;
}

.tabelle thead a {
	color: #fff;
}

div.tableBar {
	margin-bottom: 10px;
}
/* ********** table } */

/* *********** } tabs */
.normal li {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 2px;
}

/* *********** FORMS { */
.formLayout {
	padding: 10px;
	padding-bottom: 25px;
}

.formLayout label,.formLayout input,.formLayout select {
	display: block;
	min-width: 120px;
	float: left;
	margin-bottom: 10px;
}

.formLayout label {
	text-align: right;
	padding-right: 20px;
	width: 25%;
}

.formLayout input {
	width: 70%;
}

.formLayout select {
	width: 50%;
}

.formLayout br {
	clear: left;
}

.formButtons input {
	min-width: none;
	width: 10%;
	margin-right: 10px;
}

.formLayout fieldset {
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 4px 4px 4px 4px;
}

label.merged {
	width: 100%;
	clear: left;
	text-align: left;
}

textarea.merged {
	width: 830px;
	height: 100%;
	min-height: 20em;
	clear: left;
	text-align: left;
}

a.button {
	background-color: #00437C;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 2px 2px 2px 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 1px 4px;
	margin-right: 10px;
	width: 10%;
}

.patch_01 {
	top: 10px;
}
/* *********** FORMS } */
#pageContent {
	margin-top: 10px;
}

#MUNIT-3a396941-be4a-40e1-865b-1ae226899e25-MUNIT,.MUNIT-3a396941-be4a-40e1-865b-1ae226899e25-MUNIT,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-hover:hover,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-link a,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-link-hover a:hover,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-list li
	{
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 388px) {
	#MUNIT-3a396941-be4a-40e1-865b-1ae226899e25-MUNIT,.MUNIT-3a396941-be4a-40e1-865b-1ae226899e25-MUNIT,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-hover:hover,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-link a,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-link-hover a:hover,.MUNIT-54079ac0-7f1d-42e9-93d6-ce68b56f5b6e-MUNIT-list li
		{
		box-shadow: none;
	}
}

#MUNIT-8ea671e9-2a29-47b3-838e-7906a8ca115c-MUNIT,.MUNIT-8ea671e9-2a29-47b3-838e-7906a8ca115c-MUNIT,.MUNIT-f5c9943e-ecb3-46ac-a808-b1e9c2b08868-MUNIT,.MUNIT-f5c9943e-ecb3-46ac-a808-b1e9c2b08868-MUNIT-hover:hover,.MUNIT-f5c9943e-ecb3-46ac-a808-b1e9c2b08868-MUNIT-link a,.MUNIT-f5c9943e-ecb3-46ac-a808-b1e9c2b08868-MUNIT-link-hover a:hover,.MUNIT-f5c9943e-ecb3-46ac-a808-b1e9c2b08868-MUNIT-list li
	{
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
}

#MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-hover:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link a,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link-hover a:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-list li
	{
	background-repeat: no-repeat;
	background-position: left top;
	background-image:
		url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
	background-image:
		url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
	background-image:
		url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
}

@media screen and (max-width: 801px) {
	#MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-hover:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link a,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link-hover a:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-list li
		{
		background-repeat: no-repeat;
		background-position: -15px -70px;
		background-image:
			url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
		background-image:
			url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
		background-image:
			url(mdb/image/MDB-e3af60f0-86a0-4803-8a41-ca37d60dab49-MDB/1331208056/navigation.png);
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-hover:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link a,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link-hover a:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-list li
		{
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 330px auto;
		background-image: none;
		background-image: none;
		background-image: none;
	}
}

@media screen and (max-width: 388px) {
	#MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-2c1d1d59-1477-497e-8521-522e960174e6-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-hover:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link a,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-link-hover a:hover,.MUNIT-be8e1432-ea3f-4dfb-90dd-dc3edfabe19b-MUNIT-list li
		{
		background-repeat: no-repeat;
		background-position: left top;
		background-image: none;
		background-image: none;
		background-image: none;
	}
}

#MUNIT-e7ebf5a8-eccd-4607-8e38-2a8712827c26-MUNIT,.MUNIT-e7ebf5a8-eccd-4607-8e38-2a8712827c26-MUNIT,.MUNIT-0b9ae8bc-4e18-41ef-a01d-ec0c44684a86-MUNIT,.MUNIT-0b9ae8bc-4e18-41ef-a01d-ec0c44684a86-MUNIT-hover:hover,.MUNIT-0b9ae8bc-4e18-41ef-a01d-ec0c44684a86-MUNIT-link a,.MUNIT-0b9ae8bc-4e18-41ef-a01d-ec0c44684a86-MUNIT-link-hover a:hover,.MUNIT-0b9ae8bc-4e18-41ef-a01d-ec0c44684a86-MUNIT-list li
	{
	background-repeat: no-repeat;
	background-position: left top;
	background-image:
		url(mdb/image/MDB-b4c4f3a8-f02d-40e1-a184-c7b3f7d144f9-MDB/1331208056/footer.png);
	background-image:
		url(mdb/image/MDB-b4c4f3a8-f02d-40e1-a184-c7b3f7d144f9-MDB/1331208056/footer.png);
	background-image:
		url(mdb/image/MDB-b4c4f3a8-f02d-40e1-a184-c7b3f7d144f9-MDB/1331208056/footer.png);
}

#MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-hover:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link a,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link-hover a:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-list li
	{
	padding: 78px 0px 0px 0px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image:
		url(images/navigation_icons.png);
	background-image:
		url(images/navigation_icons.png);
	background-image:
		url(images/navigation_icons.png);
}

@media screen and (max-width: 801px) {
	#MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-hover:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link a,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link-hover a:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-list li
		{
		padding: 75px 0px 0px 0px;
		background-repeat: no-repeat;
		background-position: left top;
		background-image: none;
		background-image: none;
		background-image: none;
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-2e08a3ab-98eb-49c8-af3b-dd459cb82bfb-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-hover:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link a,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-link-hover a:hover,.MUNIT-34e900f8-b91a-436a-acf9-f87e659bad45-MUNIT-list li
		{
		padding: 0px 0px 0px 0px;
		background-repeat: no-repeat;
		background-position: left top;
		background-image: none;
		background-image: none;
		background-image: none;
	}
}

#MUNIT-24757c7e-94c4-42f0-bb10-38577b4adfd4-MUNIT,.MUNIT-24757c7e-94c4-42f0-bb10-38577b4adfd4-MUNIT,.MUNIT-05ded946-7685-45a2-a1e0-31b7b7df767d-MUNIT,.MUNIT-05ded946-7685-45a2-a1e0-31b7b7df767d-MUNIT-hover:hover,.MUNIT-05ded946-7685-45a2-a1e0-31b7b7df767d-MUNIT-link a,.MUNIT-05ded946-7685-45a2-a1e0-31b7b7df767d-MUNIT-link-hover a:hover,.MUNIT-05ded946-7685-45a2-a1e0-31b7b7df767d-MUNIT-list li
	{
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(80, 80, 83);
	color: rgba(80, 80, 83, 1);
	font-size: 13px;
	line-height: 140%;
}

#MUNIT-bd708771-ba30-41dc-b5cd-94117054b120-MUNIT,.MUNIT-bd708771-ba30-41dc-b5cd-94117054b120-MUNIT,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-hover:hover,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-link a,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-link-hover a:hover,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-list li
	{
	margin: 0px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

@media screen and (max-width: 801px) {
	#MUNIT-bd708771-ba30-41dc-b5cd-94117054b120-MUNIT,.MUNIT-bd708771-ba30-41dc-b5cd-94117054b120-MUNIT,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-hover:hover,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-link a,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-link-hover a:hover,.MUNIT-e4572dce-e1bf-47c9-8e4e-7de70574eb26-MUNIT-list li
		{
		font-size: 18px;
	}
}

#MUNIT-e27df4e2-1e19-4464-9903-41bf9be9ba6d-MUNIT,.MUNIT-e27df4e2-1e19-4464-9903-41bf9be9ba6d-MUNIT,.MUNIT-497c8380-0537-4c5e-8024-7e31714e192e-MUNIT,.MUNIT-497c8380-0537-4c5e-8024-7e31714e192e-MUNIT-hover:hover,.MUNIT-497c8380-0537-4c5e-8024-7e31714e192e-MUNIT-link a,.MUNIT-497c8380-0537-4c5e-8024-7e31714e192e-MUNIT-link-hover a:hover,.MUNIT-497c8380-0537-4c5e-8024-7e31714e192e-MUNIT-list li
	{
	padding: 0px 30px 10px 0px;
	color: rgb(150, 150, 156);
	color: rgba(150, 150, 156, 1);
	font-size: 11px;
	text-align: right;
}

#MUNIT-540ec6b7-5755-49ff-9583-6da64a6a0d4c-MUNIT,.MUNIT-540ec6b7-5755-49ff-9583-6da64a6a0d4c-MUNIT,.MUNIT-125fcea9-8614-4c14-b7ff-006fd93df258-MUNIT,.MUNIT-125fcea9-8614-4c14-b7ff-006fd93df258-MUNIT-hover:hover,.MUNIT-125fcea9-8614-4c14-b7ff-006fd93df258-MUNIT-link a,.MUNIT-125fcea9-8614-4c14-b7ff-006fd93df258-MUNIT-link-hover a:hover,.MUNIT-125fcea9-8614-4c14-b7ff-006fd93df258-MUNIT-list li
	{
	color: rgb(0, 67, 124);
	color: rgba(0, 67, 124, 1);
}

#MUNIT-38521d74-aa5c-42da-bfa8-6b265c6d62b3-MUNIT,.MUNIT-38521d74-aa5c-42da-bfa8-6b265c6d62b3-MUNIT,.MUNIT-d99275b6-b11b-4fc4-ba7c-2e976a785fb8-MUNIT,.MUNIT-d99275b6-b11b-4fc4-ba7c-2e976a785fb8-MUNIT-hover:hover,.MUNIT-d99275b6-b11b-4fc4-ba7c-2e976a785fb8-MUNIT-link a,.MUNIT-d99275b6-b11b-4fc4-ba7c-2e976a785fb8-MUNIT-link-hover a:hover,.MUNIT-d99275b6-b11b-4fc4-ba7c-2e976a785fb8-MUNIT-list li
	{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

#MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-hover:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link a,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link-hover a:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-list li
	{
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1);
	text-align: center;
	-moz-transition: margin .1s ease;
	-webkit-transition: margin .1s ease;
	transition: margin .1s ease;
}

@media screen and (max-width: 801px) {
	#MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-hover:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link a,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link-hover a:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-list li
		{
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-hover:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link a,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link-hover a:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-list li
		{
		color: rgb(0, 67, 124);
		color: rgba(0, 67, 124, 1);
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-align: left;
	}
}

@media screen and (max-width: 388px) {
	#MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-e8d9b4ab-13d7-4dda-818c-28ce39572ec0-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-hover:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link a,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-link-hover a:hover,.MUNIT-f6149bef-98e5-4e8f-938a-956a81da5c5d-MUNIT-list li
		{
		font-size: 13px;
	}
}

#MUNIT-1eaca31a-69e7-4001-a481-487ebec9e13e-MUNIT,.MUNIT-1eaca31a-69e7-4001-a481-487ebec9e13e-MUNIT,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-hover:hover,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-link a,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-link-hover a:hover,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-list li
	{
	margin: -4px 0 0px 0;
}

@media screen and (max-width: 801px) {
	#MUNIT-1eaca31a-69e7-4001-a481-487ebec9e13e-MUNIT,.MUNIT-1eaca31a-69e7-4001-a481-487ebec9e13e-MUNIT,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-hover:hover,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-link a,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-link-hover a:hover,.MUNIT-8d87657e-ae76-4cca-bd06-aefe027455fd-MUNIT-list li
		{
		margin: 0px 0 0px 0;
		font-weight: bold;
		font-style: normal;
		text-decoration: underline;
		font-variant: normal;
	}
}

#MUNIT-accaf1f9-1cad-4e3c-a646-ecb3211a92dd-MUNIT .baseBlock {
	margin: 0 auto;
	min-height: 100px;
}

#MUNIT-c86df567-9dea-496a-8c68-2ebe0484650b-MUNIT {
	height: 70px;
	padding: 10px 0px 0px 0px;
}

#MUNIT-c86df567-9dea-496a-8c68-2ebe0484650b-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 0px;
}

#MUNIT-c86df567-9dea-496a-8c68-2ebe0484650b-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-c86df567-9dea-496a-8c68-2ebe0484650b-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 10px;
}

#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT {
	/* ##RW## height: 231px; */
	padding: 0px 0px 0px 30px;
}

#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 10px;
}

#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r0cell1 {
	width: 244px;
	display: table-cell;
}

#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r0cell2 {
	width: 100%;
	display: table-cell;
}

#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 10px;
}

@media screen and (max-width: 801px) {
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT {
		height: 150px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r1cell1 {
		width: 200px;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r1cell2 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r1cell2+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT {
		height: 100px;
		padding: 0px 0px 15px 15px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r2cell1 {
		width: 160px;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r2cell2 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r2cell2+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

@media screen and (max-width: 388px) {
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT {
		height: 70px;
		padding: 0px 0px 15px 10px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r3cell1 {
		width: 160px;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r3cell2 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-60e96c30-1594-4c06-a6ae-0eb5ac84115e-MUNIT>.r3cell2+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT {
	height: auto;
	padding: 52px 0px 0px 0px;
}

#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 0px;
}

#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

@media screen and (max-width: 801px) {
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT {
		height: auto;
		padding: 0px 0px 0px 0px;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r1cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r1cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 0px;
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT {
		height: 70px;
		padding: 0px 0px 0px 0px;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r2cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-7aacc9b4-2061-4ff4-8d0f-900cc693897a-MUNIT>.r2cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT {
	height: 191px;
	padding: 73px 0px 0px 80px;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 10px;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell1 {
	width: 82px;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell2 {
	width: 77px;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell3 {
	width: 77px;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell4 {
	width: 77px;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell5 {
	width: 77px;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell6 {
	width: 100%;
	display: table-cell;
}

#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r0cell6+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

@media screen and (max-width: 801px) {
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT {
		height: 120px;
		padding: 0px 10px 5px 55px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell1 {
		width: 20%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell2 {
		width: 20%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell3 {
		width: 20%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell4 {
		width: 20%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell5 {
		width: 20%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell6 {
		width: 0;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell6 {
		display: none;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell5+.SKspacer {
		display: none;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r1cell6+.SKspacer {
		display: table-row;
		width: 0;
		height: 0px;
	}
}

@media screen and (max-width: 675px) {
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT {
		height: 10px;
		padding: 10px 15px 0px 0px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r2cell1 {
		width: 50%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r2cell2 {
		width: 50%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r2cell2+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

@media screen and (max-width: 388px) {
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT {
		height: auto;
		padding: 3px 10px 0px 0px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r3cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-d4b548d6-588d-4774-8b49-7d56cf0f505a-MUNIT>.r3cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 0px;
	}
}

#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT {
	height: 1px;
}

#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 0px;
}

#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

@media screen and (max-width: 801px) {
	#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT {
		display: none;
		height: 70px;
	}
	#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.r1cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-1c7a93aa-b7cf-4b16-a53f-48dc4b23cf23-MUNIT>.r1cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT {
	height: 100px;
	padding: 0px 30px 0px 30px;
	margin: 0px 0 20px 0;
}

#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 40px;
}

#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

@media screen and (max-width: 675px) {
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT {
		height: 70px;
		padding: 0px 15px 0px 15px;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r2cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r2cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 30px;
	}
}

@media screen and (max-width: 388px) {
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT {
		height: 70px;
		padding: 0px 10px 0px 10px;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 10px;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r3cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-8432f597-a2f3-4b31-ae97-dd498d29c105-MUNIT>.r3cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 10px;
	}
}

#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT {
	height: 100px;
	margin: 0px 0 20px 0;
}

#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 40px;
}

#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.r0cell1 {
	width: 47.11%;
	display: table-cell;
}

#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.r0cell2 {
	width: 52.89%;
	display: table-cell;
}

#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 10px;
}

@media screen and (max-width: 675px) {
	#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT {
		height: 70px;
	}
	#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.SKspacer
		{
		display: table-cell;
		width: 0px;
	}
	#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.r2cell1 {
		width: 100%;
		display: table-cell;
	}
	#MUNIT-c05a7f8f-2ea5-45c2-95db-0cd9ef7d86fc-MUNIT>.r2cell1+.SKspacer {
		display: table-row;
		width: 0;
		height: 30px;
	}
}

#MUNIT-d55ee493-2038-4127-8f74-d5428f579df0-MUNIT {
	height: 70px;
}

#MUNIT-d55ee493-2038-4127-8f74-d5428f579df0-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 0px;
}

#MUNIT-d55ee493-2038-4127-8f74-d5428f579df0-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-d55ee493-2038-4127-8f74-d5428f579df0-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 25px;
}

#MUNIT-c48efe79-9bb6-4684-92d3-65885cfbb318-MUNIT {
	height: 70px;
}

#MUNIT-c48efe79-9bb6-4684-92d3-65885cfbb318-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 25px;
}

#MUNIT-c48efe79-9bb6-4684-92d3-65885cfbb318-MUNIT>.r0cell1 {
	width: 67%;
	display: table-cell;
}

#MUNIT-c48efe79-9bb6-4684-92d3-65885cfbb318-MUNIT>.r0cell2 {
	width: 33%;
	display: table-cell;
}

#MUNIT-c48efe79-9bb6-4684-92d3-65885cfbb318-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

#MUNIT-ffcffa3c-4614-40a4-9d92-ba7dfeba67c5-MUNIT {
	height: 70px;
}

#MUNIT-ffcffa3c-4614-40a4-9d92-ba7dfeba67c5-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 25px;
}

#MUNIT-ffcffa3c-4614-40a4-9d92-ba7dfeba67c5-MUNIT>.r0cell1 {
	width: 33%;
	display: table-cell;
}

#MUNIT-ffcffa3c-4614-40a4-9d92-ba7dfeba67c5-MUNIT>.r0cell2 {
	width: 67%;
	display: table-cell;
}

#MUNIT-ffcffa3c-4614-40a4-9d92-ba7dfeba67c5-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

#MUNIT-6d7c8dd4-38a3-474d-b93a-18bf3fec0103-MUNIT {
	height: 70px;
}

#MUNIT-6d7c8dd4-38a3-474d-b93a-18bf3fec0103-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 25px;
}

#MUNIT-6d7c8dd4-38a3-474d-b93a-18bf3fec0103-MUNIT>.r0cell1 {
	width: 67%;
	display: table-cell;
}

#MUNIT-6d7c8dd4-38a3-474d-b93a-18bf3fec0103-MUNIT>.r0cell2 {
	width: 33%;
	display: table-cell;
}

#MUNIT-6d7c8dd4-38a3-474d-b93a-18bf3fec0103-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

#MUNIT-ce3e7533-4b51-4337-a423-de4c289bc7a2-MUNIT {
	height: 70px;
}

#MUNIT-ce3e7533-4b51-4337-a423-de4c289bc7a2-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 10px;
}

#MUNIT-ce3e7533-4b51-4337-a423-de4c289bc7a2-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-ce3e7533-4b51-4337-a423-de4c289bc7a2-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 10px;
}

#MUNIT-5a631c0b-501d-4592-a664-a7005d9d246a-MUNIT {
	min-height: 20px;
}

#MUNIT-a5ac79e7-20ae-47f9-ae70-6991f3d65ceb-MUNIT {
	height: auto;
}

#MUNIT-a5ac79e7-20ae-47f9-ae70-6991f3d65ceb-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 0px;
}

#MUNIT-a5ac79e7-20ae-47f9-ae70-6991f3d65ceb-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-a5ac79e7-20ae-47f9-ae70-6991f3d65ceb-MUNIT>.r0cell2 {
	width: 255px;
	display: table-cell;
}

#MUNIT-a5ac79e7-20ae-47f9-ae70-6991f3d65ceb-MUNIT>.r0cell2+.SKspacer {
	display: table-row;
	width: 0;
	height: 0px;
}

#MUNIT-bd3ebc9c-44a1-4634-b958-abe6b2180e51-MUNIT {
	height: 60px;
}

#MUNIT-bd3ebc9c-44a1-4634-b958-abe6b2180e51-MUNIT>.SKspacer
	{
	display: table-cell;
	width: 10px;
}

#MUNIT-bd3ebc9c-44a1-4634-b958-abe6b2180e51-MUNIT>.r0cell1 {
	width: 100%;
	display: table-cell;
}

#MUNIT-bd3ebc9c-44a1-4634-b958-abe6b2180e51-MUNIT>.r0cell1+.SKspacer {
	display: table-row;
	width: 0;
	height: 10px;
}

#MUNIT-7f7aac67-160f-4212-ac1d-874cc9612613-MUNIT {
	min-height: 5px;
}

.isBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: table;
	table-layout: fixed;
	vertical-align: top;
	width: 100%;
	position: relative; /* ? */
}

.SKspacer {
	display: table-cell;
}

.isCell {
	display: table-cell;
	vertical-align: top;
}

/* Webkit bugfix */
body.repaint {
	display: run-in;
}

.isImage .image {
	max-width: 100%;
	width: 100% !important;
	height: auto !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.navitem {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

* Drag drop */

.header {
	padding-bottom: 10px;
    font-weight: bold;
}

.votenumbers {
    float: left;
    padding-left: 3px;
    margin-right: 10px;
}

.votenumbers .vote-numbering {
    height: 20px;
    padding: 2px 3px 0 0;
    margin: 0 0 2px 0;
    text-align: right;
}

.votenumbers .vote-numbering.needed {
    font-weight: bold;
}

.votinglist {
    margin-left: 23px;
    border-left: 1px solid;
}

.votingBlock {
}

.votinglist .item {
    height: 20px;
    margin-left: 10px;
    padding: 2px 3px 0 0;
}

.dragitem {
    height: 20px;
    cursor: move;
    width: 1px;
    padding-right: 8px;
    background: url("images/dragdrop_handle.png") no-repeat 2px 3px transparent;
}
.votinglist .item .initiate {
    height: 20px;
    cursor: move;
    width: 1px;
    padding-right: 8px;
}

img.infolink {
    height: 10px;
    display: inline;
    padding-left: 3px;
}

.vote {
    border: 1px solid #00437C;
    border-radius: 0px 0px 3px 3px;
    border-collapse: collapse;
}

.savevote {
	 padding: 1px 3px 1px 3px;
}

.voteheader {
	padding:3px;
	background-color: #00437C;
    border: 1px solid #00437C;
	color: #FFFFFF;
	border-radius: 3px 3px 0px 0px;
}

.buttons {
	padding: 5px;
}